<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1" />

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">

	<!-- open graph -->
	<meta property="og:title" content="No más cohecho" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.baseurl }}" />
	<meta property="og:image" content="{{ site.baseurl }}/img/og-img.png" />
	<meta property="og:video:type" content="https://www.youtube.com/embed/ezbsbkqoRrs?rel=0&amp;showinfo=0">
	<meta property="og:description" content="{{ site.description }}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<!-- twitter card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.twitter_username }}">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:creator" content="{{ site.twitter_username }}">
	<meta name="twitter:image" content="{{ site.baseurl }}/img/og-img.png">

	<!-- Latest compiled and minified CSS -->
	<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
	<script src="{{ site.baseurl }}/js/toucheffects.js"></script>

	<!-- Carousel -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/carousel.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$('[data-toggle="tooltip"]').tooltip()

			$(window).bind('scroll', function() {
				var navHeight = $( window ).height() - 70;
				if ($(window).scrollTop() > navHeight) {
					$('nav').addClass('fixed');
				}
				else {
					$('nav').removeClass('fixed');
				}
			});
			$('a[href^="#"]').bind('click.smoothscroll',function (e) {
				e.preventDefault();
				var target = this.hash,
				$target = $(target);
				$('html, body').stop().animate({
					'scrollTop': $target.offset().top-40
				}, 900, 'swing', function () {
					window.location.hash = target;
				});
			});
		});
	</script>
</head>
