<section id="home">
  <div class="container" id="container_article">
    <h3 class="text-center">Para una real democracia decimos con fuerza:</h3>
    <h1>#NoALaOperaciónImpunidad</h1>

    <h3 class="text-center">En Ciudadanía Inteligente estamos comprometidos con la transparencia, y por asegurar que nuestra democracia sirva al interés general, y no al de grupos privilegiados. Por esto y por los múltiples casos de financiamiento ilegal de la política que se revelaron en 2015, es que decidimos querellarnos por presunto delito de cohecho, con el objetivo de acompañar imparcialmente desde la ciudadanía el accionar del Ministerio Público y la Justicia, a fin de que se sancione con el máximo rigor que permite la ley a los responsables de defraudar la fe pública.</h3>
    <div class="mt-60 text-center">
      <!-- <h3 class="text-center mb-30"><a class="btn btn-default btn-lg" href="{{ site.baseurl }}/sancion-cohecho.pdf" target='_blank'>Propuesta para sancionar el cohecho</a></h3>
      <h4 class="text-white">Documento elaborado junto a Espacio Público para el Congreso y Gobierno.</h4> -->
      </div>
    </div>

    <div class="text-center mt-60">
      <div class="row">
        <div class="col-md-6">
          <!-- Video  -->
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ezbsbkqoRrs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>} -->
        </div>
        <div class="col-md-6 mt-60 text-left">
          <!-- <h4 class="text-light">Aunque la justicia no está investigando hasta el final los casos SQM, Penta y Corpesca, no podemos rendirnos. Comparte este video y digamos #NoALaOperaciónImpunidad.</h4> -->
          <!-- Boton share -->
          <!-- <div class="fb-share-button" data-href="https://youtu.be/yyRnlZVTyME" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyoutu.be%2FyyRnlZVTyME&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/tabletop.js"></script>
<script type="text/javascript">
  window.onload = function() { init(); spin(true); };

  var public_spreadsheet_url = '//docs.google.com/spreadsheets/d/1jQysXERupAx_Qsdbq2SPSMC2f_uEnPTgPBc1lhoA_Dk/pubhtml';

  function init() {
  Tabletop.init( { key: public_spreadsheet_url,
                   callback: showInfo,
                   simpleSheet: true } )
  }

  function spin(status) {
    var classes = 'fa fa-spinner fa-spin fa-4x'
    var spin = document.getElementById('spin');
      spin.children[0].className = classes+' hidden';
    if(status)
      spin.children[0].className = classes;
  }

  function showInfo(data) {
    var el_div = document.getElementById('articles');

    var cnt = 0;
    data.forEach( function(key, value) {
      if (key.title && key.content && key.content != '#N/A' && cnt <=2) {

        var el_colmd4 = document.createElement('div');
            el_colmd4.classList.add('col-md-4')
        var url = document.createElement('a');
            url.setAttribute('href', key.source );
            url.setAttribute('target', '_blank' );
            url.classList.add('main_url')
            url.appendChild( document.createTextNode( key.title ) );
        var read_more = document.createElement('a');
          read_more.setAttribute('href', key.source );
          read_more.setAttribute('target', '_blank' );
          read_more.appendChild( document.createTextNode( " Seguir leyendo" ) );

        var h3 = document.createElement('h3');
            h3.appendChild(url);

        var p = document.createElement('p');
          p.appendChild( document.createTextNode(key.content) );

        el_colmd4.appendChild(h3)
        p.appendChild(read_more)
        el_colmd4.appendChild(p)
        el_div.appendChild(el_colmd4)

        cnt++;
      }
    })
    spin(false);

    var button_container = document.createElement('div');
        button_container.classList.add('text-right');
    var button_more = document.createElement('button');
        button_more.classList.add('btn');
        button_more.classList.add('btn-default');
        button_more.setAttribute('onclick', "location.href='/noticias.html'" );
        button_more.appendChild( document.createTextNode( "Más artículos" ));

    button_container.appendChild(button_more)

    document.getElementById('container_article').appendChild( el_div );
    document.getElementById('container_article').appendChild( button_container );

  }
</script>
