<div class="container mb-60">
  <div class="row">
    <div class="col-md-3">
      <h2>Propuestas</h2>
      <div class="mb-30">
        Tuitea a la justicia para que quienes traicionaron a la democracia chilena no queden impunes
      </div>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=El%20financiamiento%20ilegal%20de%20la%20pol%C3%ADtica%20es%20un%20delito.%20S%C3%BAmate%20a%20%40ciudadanoi%20para%20que%20los%20responsables%20en%20el%20Caso%20Penta%20sean%20sancionados.%20%23NoALaOperaci%C3%B3nImpunidad%20%40FiscaliadeChile">Tweet</a>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <h3>Para que no se intente comprar nuevamente la democracia, necesitamos:</h3>
      <ul>
        <li><h4>Una reforma profunda al Ministerio Público, para que rinda cuenta de sus actuaciones ante la ciudadanía y que funde adecuadamente sus decisiones en la investigación y persecución  de delitos.</h4></li>
        <li><h4>Aumentar las penas a los delitos de corrupción según la cantidad de dinero recibido y la jerarquía del cargo de la o el funcionario público, garantizando penas de cárcel en los casos más graves.</h4></li>
        <li><h4>Que los delitos de corrupción siempre sean sancionados con la inhabilitación absoluta de ejercer cargos públicos y con multas por el doble de los beneficios percibidos.</h4></li>
        <li><h4>Adecuar la tipificación del cohecho, para que su prueba se haga menos compleja: que baste con entregar, ofrecer o solicitar dinero a una o un funcionario público. </h4></li>
        <li><h4>Aumentar los plazos de prescripción de los delitos.</h4></li>
        <li><h4>Incluir la delación compensada para detectar infracciones de forma oportuna y con información completa.</h4></li>
      </ul>
    </div>
    </div>
</div>
