<div class="container mb-60">
  <div class="row">
    <div class="col-md-3">
      <h2>Propuestas</h2>
      <div class="mb-30">
        Tuitea a la justicia para que quienes traicionaron a la democracia chilena no queden impunes
      </div>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="La corrupción se detiene con cambios profundos. Conoce las propuestas de @ciudadanoi en" data-url="https://nomascohecho.cl" data-hashtags="NoMásCohecho" data-lang="es" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <h3>Para que no se intente comprar nuevamente la democracia, necesitamos:</h3>
      <ul>
        <li><h4>Una reforma profunda al Ministerio Público, para que rinda cuenta de sus actuaciones ante la ciudadanía y que funde adecuadamente sus decisiones en la investigación y persecución  de delitos.</h4></li>
        <li><h4>Aumentar las penas a los delitos de corrupción para que se sancionen de acuerdo al daño que generan (partiendo en 5 años y 1 día).</h4></li>
        <li><h4>Que los delitos de corrupción siempre sean sancionados con la inhabilitación absoluta y perpetua de ejercer cargos públicos y con multas por al menos el doble de los beneficios percibidos.</h4></li>
        <li><h4>Adecuar la tipificación del cohecho, para que su prueba se haga menos compleja: que baste con solicitar o recibir dinero, por parte de un funcionario público, y entregar u ofrecer en el caso del particular que busca sobornar. </h4></li>
        <li><h4>Aumentar los plazos de prescripción de los delitos a 10 años.</h4></li>
        <li><h4>Incluir la delación compensada para detectar infracciones de forma oportuna y con información completa.</h4></li>
        <li><h4>Que la suspensión condicional de los procedimientos no sea una forma de cierre para los delitos contra la probidad.</h4></li>
        <li><h4>Abrir a la ciudadanía la posibilidad de  querellarse en todos los casos, no sólo contra funcionarios públicos.</h4></li>
      </ul>
    </div>
    </div>
</div>
